{% extends "core/base.html" %}
{% load static %}
{% block content %}



<p>Cadastro de Beneficiários de Cesta Básica</p>
<h2>Registrar novo beneficiário de cesta básica</h2>
<div class="container">
<form class="needs-validation" method="post" novalidate>
{% csrf_token %}

  <div class="form-row">

    <div class="col-2">
      <label for="validationCustom01">Ordem</label>
      <input type="text" class="form-control" name="N" id="validationCustom01" value="{{ dados.N }}" readonly>
      <div class="valid-feedback">
        Muito Bom!
      </div>
    </div>

    <div class="col-5">
      <label for="validationCustom02">Tipo</label>
      <input type="text" class="form-control" name="TIPO" id="validationCustom02" value="{{ dados.TIPO }}" >
    </div>

     <div class="col-5">
          <label for="validationCustom02">Status</label>
          <select class="form-control" name="STATUS" id="validationCustom03" >
            <option value="{{ dados.STATUS }}" hidden>{{ dados.STATUS }}</option>
              {% for stat in status %}
              <option value="{{ stat }}" >{{ stat }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="invalid-feedback">
        Por favor informe a situação cadastral do usuário.
      </div>
    </div>

    <div class="form-row">
    <div class="col-sm-4">
      <label for="validationCustom04">CPF</label>
      <input type="text" class="form-control" name="CPF" id="validationCustom04" value="{{ dados.CPF }}" required>
      <div class="invalid-feedback">
        Por favor informe o CPF.
      </div>
    </div>
    <div class="col-sm-4">
      <label for="validationCustom05">NIS</label>
      <input type="text" class="form-control" name="NIS" id="validationCustom05" value="{{ dados.NIS }}" >
    </div>
        <div class="col-sm-4">
      <label for="validationCustom06">RG</label>
      <input type="text" class="form-control" name="RG" id="validationCustom06" value="{{ dados.RG }}" >
      <div class="invalid-feedback">
        Por favor informe a situação cadastral do usuário.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-8 sm-12">
      <label for="validationCustom07">Nome</label>
      <input type="text" oninput="handleInput(event)" class="form-control" name="NOME" id="validationCustom07" value="{{ dados.NOME }}" required>
      <div class="invalid-feedback">
        Por favor informe o nome completo.
      </div>
    </div>
    <div class="col-sm-4 sm-12">
      <label for="validationCustom32">Nascimento</label>
      <input type="text" class="form-control" name="NASCIMENTO" id="validationCustom32" value="{{ dados.NASCIMENTO }}">
      <div class="invalid-feedback">
        Por favor informe a data de nascimento.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-4 sm-12">
      <label for="validationCustom08">Endereço</label>
      <input type="text" oninput="handleInput(event)" class="form-control" name="ENDERECO" id="validationCustom08" value="{{ dados.ENDERECO }}" required>
      <div class="invalid-feedback">
        Por favor informe o endereço.
      </div>
    </div>
    <div class="col-sm-3 sm-6">
      <label for="validationCustom33">Localidade</label>
      <input type="text" oninput="handleInput(event)" class="form-control" name="LOCALIDADE" id="validationCustom33" value="{{ dados.LOCALIDADE }}">
      <div class="invalid-feedback">
        Por favor informe a localidade.
      </div>
    </div>
    <div class="col-sm-3 sm-6">
      <label for="validationCustom09">Bairro</label>
      <input type="text"  oninput="handleInput(event)" class="form-control" name="BAIRRO" id="validationCustom09" value="{{ dados.BAIRRO }}" required>
      <div class="invalid-feedback">
        Por favor informe o bairro.
      </div>
    </div>
        <div class="col-sm-2 sm-6">
      <label for="validationCustom10">Contato</label>
      <input type="text" class="form-control" name="TELEFONE" id="validationCustom10" value="{{ dados.TELEFONE }}" >
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>

  <div class="form-row">
      <div class="col-sm-3 sm-6">
        <label for="validationCustom13">Próxima Entrega</label>
        <input type="text" oninput="handleInput(event)" class="form-control" name="PROX_ENTREGA" id="validationCustom13" value="{{ dados.PROX_ENTREGA }}" >
        <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
      <div class="col-sm-3 sm-6">
       <label for="validationCustom14">Cesta à Receber</label>
       <input type="text" class="form-control" name="PROX_CESTA" id="validationCustom14" value="{{ dados.PROX_CESTA }}" >
          <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom11">Unidade SUAS</label>
      <select class="form-control" name="ORIGEM" id="validationCustom11" required>
        <option value="{{ dados.ORIGEM }}" hidden>{{ dados.ORIGEM }}</option>
          {% for stat in unidades %}
          <option value="{{ stat }}" >{{ stat }}</option>
          {% endfor %}
          </select>
      <div class="invalid-feedback">
        Por favor identifica a origem da demanda.
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom12">Técnico Social</label>
      <input type="text" oninput="handleInput(event)" class="form-control" name="TECNICO_RESPONSAVEL" id="validationCustom12" value="{{ dados.TECNICO_RESPONSAVEL }}" >
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>
<div class="form-row">
    <div class="col-sm-4 sm-12">
      <label for="validationCustom34">Escolaridade</label>
      <select class="form-control" name="ESCOLARIDADE" id="validationCustom34">
        <option value="{{ dados.ESCOLARIDADE }}" hidden>{{ dados.ESCOLARIDADE }}</option>
          {% for stat in escolaridades %}
          <option value="{{ stat }}" >{{ stat }}</option>
          {% endfor %}
          </select>
      <div class="invalid-feedback">
        Por favor informe a escolaridade.
      </div>
    </div>
    <div class="col-sm-8 sm-12">
      <label for="validationCustom35">Curso</label>
      <select class="form-control" name="CURSO" id="validationCustom35">
        <option value="{{ dados.CURSO }}" hidden>{{ dados.CURSO }}</option>
          {% for stat in cursos %}
          <option value="{{ stat }}" >{{ stat }}</option>
          {% endfor %}
          </select>
      <div class="invalid-feedback">
        Por favor informe o curso desejado.
      </div>
    </div>
  </div>
    <hr>

  <div class="row justify-content-around">
     <div class="col-sm-3 sm-3">
            <div class="col-md-12">
          <label for="validationCustom15"><b>Data da Solicitação</b></label>
          <input type="text" class="form-control" name="DATA_SOLICITACAO" id="validationCustom15" value="{{ dados.DATA_SOLICITACAO }}" required>
          <div class="invalid-feedback">
            Por favaor informe da Data de Solicitação.
          </div>
        </div>
            <hr>
<div class="col-md-12">
        <label for="validationCustom16" style="color: green"># Data da 1º Entrega</label>
        <input type="text" class="form-control" name="1_MES" id="validationCustom16" value="{{ dados.1_MES }}" >
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
<div class="col-md-12">
          <label for="validationCustom17" style="color: green"># Data da 2º Entrega</label>
          <input type="text" class="form-control" name="2_MES" id="validationCustom17" value="{{ dados.2_MES }}" >
          <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
      </div>
<div class="col-md-12">
          <label for="validationCustom18" style="color: green"># Data da 3º Entrega</label>
          <input type="text" class="form-control" name="3_MES" id="validationCustom18" value="{{ dados.3_MES }}" >
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
       </div>
     </div>

     <div class="col-sm-3 sm-3">
             <div class="col-md-12">
            <label for="validationCustom19"><b>Data da 1º Renovação</b></label>
            <input type="text" class="form-control" name="1A_RENOVACAO" id="validationCustom19" value="{{ dados.1A_RENOVACAO }}" >
            <div class="invalid-feedback">
            Please provide a valid state.
        </div>
      </div>
   <hr>
<div class="col-md-12">
        <label for="validationCustom20" style="color: green"># Data da 4º Entrega</label>
        <input type="text" class="form-control" name="4_MES" id="validationCustom20" value="{{ dados.4_MES }}" >
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>

<div class="col-md-12">
         <label for="validationCustom21" style="color: green"># Data da 5º Entrega</label>
         <input type="text" class="form-control" name="5_MES" id="validationCustom21" value="{{ dados.5_MES }}" >
         <div class="invalid-feedback">
           Please provide a valid zip.
         </div>
       </div>

<div class="col-md-12">
          <label for="validationCustom22" style="color: green"># Data da 6º Entrega</label>
          <input type="text" class="form-control" name="6_MES" id="validationCustom22" value="{{ dados.6_MES }}" >
          <div class="invalid-feedback">
           Please provide a valid zip.
          </div>
       </div>
     </div>

 <div class="col-sm-3 sm-3">
     <div class="col-md-12">
          <label for="validationCustom23"><b>Data da 2º Renovação</b></label>
          <input type="text" class="form-control" name="2A_RENOVACAO" id="validationCustom23" value="{{ dados.2A_RENOVACAO }}" >
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
   <hr>
<div class="col-md-12">
        <label for="validationCustom24" style="color: green"># Data da 7º Entrega</label>
        <input type="text" class="form-control" name="7_MES" id="validationCustom24" value="{{ dados.7_MES }}" >
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
<div class="col-md-12">
          <label for="validationCustom25" style="color: green"># Data da 8º Entrega</label>
          <input type="text" class="form-control" name="8_MES" id="validationCustom25" value="{{ dados.8_MES }}" >
          <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
      </div>
<div class="col-md-12">
          <label for="validationCustom26" style="color: green"># Data da 9º Entrega</label>
          <input type="text" class="form-control" name="9_MES" id="validationCustom26" value="{{ dados.9_MES }}" >
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
       </div>
    </div>

     <div class="col-sm-3 sm-3">
            <div class="col-md-12">
        <label for="validationCustom27"><b>Data da 3º Renovação</b></label>
        <input type="text" class="form-control" name="3A_RENOVACAO" id="validationCustom27" value="{{ dados.3A_RENOVACAO }}" >
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
            <hr>
<div class="col-md-12">
        <label for="validationCustom28" style="color: green"># Data da 10º Entrega</label>
        <input type="text" class="form-control" name="10_MES" id="validationCustom28" value="{{ dados.10_MES }}" >
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>

<div class="col-md-12">
         <label for="validationCustom29" style="color: green"># Data da 11º Entrega</label>
         <input type="text" class="form-control" name="11_MES" id="validationCustom29" value="{{ dados.11_MES }}" >
         <div class="invalid-feedback">
           Please provide a valid zip.
         </div>
       </div>

<div class="col-md-12">
          <label for="validationCustom30" style="color: green"># Data da 12º Entrega</label>
          <input type="text" class="form-control" name="12_MES" id="validationCustom30" value="{{ dados.12_MES }}" >
          <div class="invalid-feedback">
           Please provide a valid zip.
          </div>
       </div>
     </div>
     </div>

        <div class="form-row">
            <div class="col-sm-10">
          <label for="validationCustom31">Observações</label>
           <textarea type="text" oninput="handleInput(event)" class="form-control" name="OBSERVACOES" id="validationCustom31" rows="3" value="{{ dados.OBSERVACOES }}" ></textarea>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
       </div></div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Eu confirmo a veracidades destas informações
      </label>
      <div class="invalid-feedback">
        Você deve confirmar a verecidade destes dados.
      </div>
    </div>
  </div>
        <center>
      <a href="{% url 'core:home' %}" class="btn btn-success">Inicio</a>
      <button type="submit" class="btn btn-primary">Salvar Alterações</button>
      <a href="{% url 'beneficiarios:busca_cestas' %}" title="" class="btn btn-warning">Buscar cestas</a>
            <a href="{% url 'core:home' %}" class="btn btn-info">Adcionar Pessoa</a>
      <a href="{% url 'core:home' %}" class="btn btn-danger">Voltar</a></center>
<br>
</form>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

{% endblock %}