{% extends "core/base.html" %}
{% load static %}
{% block content %}



<p>Cadastro de Beneficiários de Cesta Básica</p>
<h2>Registrar novo beneficiário de cesta básica</h2>
<div class="container">
<form class="needs-validation" method="post" novalidate>
{% csrf_token %}
  <div class="form-row">
    <div class="col-2 sm-3">
      <label for="validationCustom01" class="col-sm-2 col-form-label">Ordem</label>
      <input type="text" class="form-control" name="N" id="validationCustom01" readonly>
      <div class="valid-feedback">
        Muito Bom!
      </div>
    </div>
    <div class="col-3 sm-4">
      <label for="validationCustom02" class="col-sm-2 col-form-label">Tipo</label>
      <input type="text" class="form-control" name="TIPO" id="validationCustom02" >
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
        <div class="col-3 sm-3">
      <label for="validationCustom02">Status</label>
      <input type="text" class="form-control" name="STATUS" id="validationCustom03"  >
      <div class="invalid-feedback">
        Por favor informe a situação cadastral do usuário.
      </div>
    </div>
  </div>


    <div class="form-row">
    <div class="col-sm-4 sm-3">
      <label for="validationCustom04">CPF</label>
      <input type="text" class="form-control" name="CPF" id="validationCustom04" required>
      <div class="valid-feedback">
        Muito Bom!
      </div>
    </div>
    <div class="col-3 sm-3">
      <label for="validationCustom05">NIS</label>
      <input type="text" class="form-control" name="NIS" id="validationCustom05"  >
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
        <div class="col-sm-3 mb-3">
      <label for="validationCustom06">RG</label>
      <input type="text" class="form-control" name="RG" id="validationCustom06"  >
      <div class="invalid-feedback">
        Por favor informe a situação cadastral do usuário.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom07">Nome</label>
      <input type="text" class="form-control" name="NOME" id="validationCustom07"  required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
      </div>


  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationCustom08">Endereço</label>
      <input type="text" class="form-control" name="ENDERECO" id="validationCustom08"  required>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom09">Localidade</label>
      <input type="text" class="form-control" name="BAIRRO" id="validationCustom09"  required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
        <div class="col-md-3 mb-3">
      <label for="validationCustom10">Contato</label>
      <input type="text" class="form-control" name="TELEFONE" id="validationCustom10"  >
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>

  <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationCustom13">Próxima Entrega</label>
        <input type="text" class="form-control" name="PROX_ENTREGA" id="validationCustom13"  >
        <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
      <div class="col-md-3 mb-3">
       <label for="validationCustom14">Cesta à Receber</label>
       <input type="text" class="form-control" name="PROX_CESTA" id="validationCustom14"  >
          <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom11">Origem</label>
      <input type="text" class="form-control" name="ORIGEM" id="validationCustom11"  required>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom12">Técnico Social</label>
      <input type="text" class="form-control" name="TECNICO_RESPONSAVEL" id="validationCustom12"  >
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>

    <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="validationCustom15">Data da Solicitação</label>
          <input type="text" class="form-control" name="DATA_SOLICITACAO" id="validationCustom15" required>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
    </div>

    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationCustom16">Data da 1º Entrega</label>
        <input type="text" class="form-control" name="1_MES" id="validationCustom16"  >
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>


    <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="validationCustom17">Data da 2º Entrega</label>
          <input type="text" class="form-control" name="2_MES" id="validationCustom17"  >
          <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
      </div>
    </div>


    <div class="form-row">
       <div class="col-md-3 mb-3">
          <label for="validationCustom18">Data da 3º Entrega</label>
          <input type="text" class="form-control" name="3_MES" id="validationCustom18"  >
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
       </div>
    </div>

   <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationCustom19">Data da 1º Renovação</label>
        <input type="text" class="form-control" name="1A_RENOVACAO" id="validationCustom19"  >
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
   </div>

    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationCustom20">Data da 4º Entrega</label>
        <input type="text" class="form-control" name="4_MES" id="validationCustom20" >
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3 mb-3">
         <label for="validationCustom21">Data da 5º Entrega</label>
         <input type="text" class="form-control" name="5_MES" id="validationCustom21"  >
         <div class="invalid-feedback">
           Please provide a valid zip.
         </div>
       </div>
    </div>

    <div class="form-row">
       <div class="col-md-3 mb-3">
          <label for="validationCustom22">Data da 6º Entrega</label>
          <input type="text" class="form-control" name="6_MES" id="validationCustom22" >
          <div class="invalid-feedback">
           Please provide a valid zip.
          </div>
       </div>
     </div>


    <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="validationCustom23">Data da 2º Renovação</label>
          <input type="text" class="form-control" name="2A_RENOVACAO" id="validationCustom23" >
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
    </div>

    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationCustom24">Data da 7º Entrega</label>
        <input type="text" class="form-control" name="7_MES" id="validationCustom24" >
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>


    <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="validationCustom25">Data da 8º Entrega</label>
          <input type="text" class="form-control" name="8_MES" id="validationCustom25"  >
          <div class="invalid-feedback">
            Please provide a valid zip.
        </div>
      </div>
    </div>


    <div class="form-row">
       <div class="col-md-3 mb-3">
          <label for="validationCustom26">Data da 9º Entrega</label>
          <input type="text" class="form-control" name="9_MES" id="validationCustom26"  >
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
       </div>
    </div>

   <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationCustom27">Data da 3º Renovação</label>
        <input type="text" class="form-control" name="3A_RENOVACAO" id="validationCustom27"  >
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
   </div>

    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationCustom28">Data da 10º Entrega</label>
        <input type="text" class="form-control" name="10_MES" id="validationCustom28" >
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3 mb-3">
         <label for="validationCustom29">Data da 11º Entrega</label>
         <input type="text" class="form-control" name="11_MES" id="validationCustom29"  >
         <div class="invalid-feedback">
           Please provide a valid zip.
         </div>
       </div>
    </div>

    <div class="form-row">
       <div class="col-md-3 mb-3">
          <label for="validationCustom30">Data da 12º Entrega</label>
          <input type="text" class="form-control" name="12_MES" id="validationCustom30"  >
          <div class="invalid-feedback">
           Please provide a valid zip.
          </div>
       </div>
     </div>

        <div class="form-row">
       <div class="col-md-3 mb-3">
          <label for="validationCustom31">Observações</label>
          <input type="text" class="form-control" name="OBSERVACOES" id="validationCustom31"  >
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
       </div>
    </div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Eu confirmo a veracidades destas informações
      </label>
      <div class="invalid-feedback">
        Você deve confirmar a verecidade destes dados.
      </div>
    </div>
  </div>
        <center>
      <a href="{% url 'core:home' %}" class="btn btn-success">Inicio</a>
      <button type="submit" class="btn btn-primary">Salvar Alterações</button>
      <a href="{% url 'beneficiarios:busca_cestas' %}" title="" class="btn btn-warning">Buscar cestas</a>
            <a href="{% url 'core:home' %}" class="btn btn-info">Adcionar Pessoa</a>
      <a href="{% url 'core:home' %}" class="btn btn-danger">Voltar</a></center>

</form>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

{% endblock %}