{% extends "core/base.html" %}
{% load static %}

{% block content %}

<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h2>Auxílio Emergencial</h2>
        <h3>Busque pelo CPF ou Nome do Usuário</h3>
        <form class="pure-form pure-form-stacked">
            {% csrf_token %}
         <select name="tipo_busca" style="width:100px;">
             <option value="Nome">NOME</option>
            <option value="CPF">CPF</option>

         </select>
         <input type="text" oninput="handleInput(event)" name="busca" maxlength="100" placeholder="DIGITE AQUI">
             <div class="pure-controls">
                 <a href="{% url 'usuarios:index' %}"><button type="submit" class="pure-button pure-button-hope">Buscar</button></a>
             </div>

        </form>

        {% if mensagem %}

        <br><p>{{ mensagem }}</p>

        {% endif %}


        {% if beneficiarios %}
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>CPF</th>
            <th>NIS</th>
            <th>NOME</th>
            <th>NASCIMENTO</th>
            <th>MÃE</th>
            <th>OBSERVAÇÃO</th>
        </tr>
            </thead>
        <tbody>
            {% for beneficiario in beneficiarios %}
            <tr style="font-size: 15px;">
                    <td scope="row">{{ beneficiario.N }} </td>
                    <td align="right"> {{ beneficiario.CPF }}</td>
                    <td> {{ beneficiario.NIS }}</td>
                    <td> {{ beneficiario.NOME }} </td>
                    <td> {{ beneficiario.NASCIMENTO }} </td>
                    <td> {{ beneficiario.MAE }} </td>
                    <td>{{ beneficiario.OBSERVACAO }} </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}