{% extends "core/base.html" %}
{% load static %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js">
</script>

<div class="pure-g-r content-ribbon">
<!--
    {% if messages %}
        <aside class="pure-u-1">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </aside>
     {% endif %}
-->
    <div class="pure-u-1">
        <h2>Benefício Eventual - Cestas Básicas</h2>
        {% if unique %}
             <a href="{% url 'beneficiarios:busca_cestas' %}"><button class="pure-button pure-button-hope">Buscar outros</button></a>
        {% else %}
            <h3>Busque pelo CPF, NIS ou Nome do Usuário</h3>
            <form class="pure-form pure-form-stacked">
                {% csrf_token %}
             <select name="tipo_busca" style="width:100px;" id="select">
                <option value="{{ tipo_busca }}" hidden>{{ tipo_busca }}</option>
                <option value="Nome">NOME</option>
                <option value="CPF">CPF</option>
                <option value="NIS">NIS</option>
             </select>
             <input type="text" id="busca" oninput="handleInput(event)" onchange="aplicaMascara(this.value)" name="busca" maxlength="100" placeholder="DIGITE AQUI">
                 <div class="pure-controls">
                     <a href="{% url 'beneficiarios:busca_cestas' %}"><button class="btn btn-success">Buscar</button></a>
                     <a href="{% url 'beneficiarios:registrar_cesta' %}"  class="btn btn-info">Adcionar Beneficiário </a>
                 </div>

            </form>

        {% endif %}

        {% if mensagem %}
        <br><p>{{ mensagem }}</p>
        {% endif %}

 {% if beneficiarios %}
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>STATUS</th>
                    <th>DATA</th>
                    <th>CPF</th>
                    <th>NIS</th>
                    <th>NOME</th>
                    <th>ENDEREÇO</th>
                    <th>ORIGEM</th>
                    <th>RECEBIDAS</th>
                </tr>
            </thead>
        <tbody>
            {% for beneficiario in beneficiarios %}
                <tr align="center" style="font-size: 15px;">
                    <td scope="row">{{ beneficiario.N }} </td>
                       {% if beneficiario.STATUS == 'DEFERIDO' %}
                            <td style="color:green;font-weight: bold;">
                        {% elif beneficiario.STATUS == 'FINALIZADO' %}
                            <td style="color:orange;font-weight: bold;">
                        {% elif beneficiario.STATUS == 'EMERGENCIAL' %}
                            <td style="color:teal;font-weight: bold;">
                        {% elif beneficiario.STATUS == 'SUSPENSO' %}
                            <td style="color:olive;font-weight: bold;">
                        {% else %}
                            <td style="color:red;font-weight: bold;">
                    {% endif %}
                            {{ beneficiario.STATUS }}</td>
                    <td> {{ beneficiario.ULT_CESTA }}</td>
                    <td style="font-size: 13px;"> {{ beneficiario.CPF }}</td>
                    <td> {{ beneficiario.NIS }}</td>
                    <td><a href="{% url 'beneficiarios:beneficiario_details' beneficiario.N %}"><i class="fa fa-eye"></i> {{ beneficiario.NOME }} </a></td>
                    <td> {{ beneficiario.ENDERECO }} </td>
                    <td> {{ beneficiario.ORIGEM }} </td>
                    <td>{{ beneficiario.QTAS_CESTAS }} </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
  {% endif %}
    </div>
 </div>
</div>
<script>
$("#select").change(function() {
  addMaskToInput();
});

function addMaskToInput() {
  var $select = $('#select option:selected').val();
  var $busca = $('#busca');
  if ($select == "CPF") {
    $busca.mask('999.999.999-99');
  } else if ($select == "NIS") {
    $busca.mask('99999999999');
  } else {
    $busca.unmask();
  }
}
</script>
{% endblock %}