{% extends "core/base.html" %}
{% load static %}

{% block content %}

<div class="pure-g-r content-ribbon">

    <div class="pure-u-1">

    {% if mensagem %}

        <br><b><p>{{ mensagem }}</p></b>

        {% endif %}

     {% if beneficiarios %}
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>N</th>
                    <th>STATUS</th>
                    <th>DATA</th>
                    <th>NOME</th>
                    <th>CPF</th>
                    <th>NIS</th>
                    <th>BAIRRO</th>
                    <th>ORIGEM</th>
                    <th>QUANTAS?</th>
                </tr>
            </thead>
        <tbody>
            {% for beneficiario in beneficiarios %}
            <tr align="center" >
                    <th scope="row">{{ beneficiario.CONT }} </th>
                    {% if beneficiario.STATUS == 'DEFERIDO' %}
                            <td style="color:green;font-weight: bold;">
                        {% elif beneficiario.STATUS == 'FINALIZADO' %}
                            <td style="color:orange;font-weight: bold;">
                        {% elif beneficiario.STATUS == 'EMERGENCIAL' %}
                            <td style="color:teal;font-weight: bold;">
                        {% elif beneficiario.STATUS == 'SUSPENSO' %}
                            <td style="color:olive;font-weight: bold;">
                        {% else %}
                            <td style="color:red;font-weight: bold;">
                    {% endif %}
                            {{ beneficiario.STATUS }}</td>
                    <td> {{ beneficiario.DATA }}</td>
                    <td><a href="{% url 'beneficiarios:beneficiario_details' beneficiario.N %}"><i class="fa fa-eye"></i> {{ beneficiario.NOME }} </a></td>
                    <td> {{ beneficiario.CPF }}</td>
                    <td> {{ beneficiario.NIS }}</td>
                    <td> {{ beneficiario.BAIRRO }} </td>
                    <td> {{ beneficiario.ORIGEM }} </td>
                    <td>{{ beneficiario.QUANTAS }} </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
        {% endif %}

    </div>
</div>
<br><br>
{% endblock %}