{% extends "core/base.html" %}
{% load static %}

{% block content %}

<div class="content">
    <center><img src="{% static 'img/banner_promove.png' %}" style="width:40%";></center>
        {% for curso in cursos %}
        <div class="list-group"  style="padding: 50px; background-color:#FFEFD5;">
          <a href="#" class="list-group-item list-group-item-action active"
             STYLE="font-weight: bold;background-color:#ec672a;border-color:#fff;">
            <ion-icon name="school"></ion-icon>  {{ curso }}
          </a>

            {% for matriculado in matriculados %}
                {% if curso == matriculado.CURSO %}

                    <a href="{% url 'beneficiarios:promove_details' matriculado.ID_BE %}"
                       class="list-group-item list-group-item-action">{{ matriculado.CONTADOR }} - {{ matriculado.CPF }} - {{ matriculado.NOME }} - {{ matriculado.DATA }}</a>
                {% endif %}

            {% endfor %}
            {% for desistente in desistentes %}
                {% if curso == desistente.CURSO %}
                <a href="{% url 'beneficiarios:promove_details' desistente.ID_BE %}" class="list-group-item list-group-item-action"
                   style="color: red; text-decoration: line-through;"> {{ desistente.CONTADOR }} - {{ desistente.CPF }} - {{ desistente.NOME }} - {{ desistente.DATA }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
</div>
<div style="padding:30px;">
<center>
        <a href="{% url 'core:home' %}" class="btn btn-success">Inicio</a>
        <a href="{% url 'beneficiarios:export_cursos_csv'%}" class="btn btn-warning">Exportar CSV</a>
        <a href="{% url 'beneficiarios:export_cursos_pdf'%}" class="btn btn-danger">Exportar PDF</a>
        <input type="button" value="Voltar" class="btn btn-dark" onClick="history.go(-1)"></center>
</div>
{% endblock %}