{% extends "core/base.html" %}
{% load static %}

{% block content %}

<div class="pure-g-r content-ribbon">

    <div class="pure-u-1">

        <h2>Gere a lista de cestas básicas pelas datas</h2>
        <form class="pure-form pure-form-stacked">
            {% csrf_token %}
            <label>Digite Data Inicial:</label>
			<input type="text" name="datai" maxlength="10" autofocus  placeholder="Começa em...">
            <label>Digite Data Final:</label>
			<input type="text" name="dataf" maxlength="10" autofocus  placeholder="Termina em...">
<br>
             <div class="pure-controls">
                 <a href=""><button type="submit" class="pure-button pure-button-hope">Buscar</button></a>
                 {% if beneficiarios %}
                    <a href="{% url 'beneficiarios:export_cestas' datai dataf %}" class="pure-button pure-button-danger">Exportar CSV</a>
                 {% endif%}
             </div>

        </form>
        <br>

        {% if mensagem %}

        <br><p>{{ mensagem }}</p>

        {% endif %}
<br>

     {% if beneficiarios %}
        <table border="1">
        <tr>
            <th>ID</th>
            <th>DATA</th>
            <th>CPF</th>
            <th>NIS</th>
            <th>NOME</th>
            <th>ENDEREÇO</th>
            <th>ORIGUEM</th>
            <th>TIPO</th>
            <th>QUANTIDADE</th>
        </tr>
        <ul>
            {% for beneficiario in beneficiarios %}
            <tr align="center">
                    <td>{{ beneficiario.N }} </td>
                    <td> {{ beneficiario.DATA }}</td>
                    <td> {{ beneficiario.CPF }}</td>
                    <td> {{ beneficiario.NIS }}</td>
                <td><a href="{% url 'beneficiarios:beneficiario_details' beneficiario.N %}"><i class="fa fa-eye"></i> {{ beneficiario.NOME }} </a></td>
                    <td> {{ beneficiario.ENDERECO }} </td>
                    <td> {{ beneficiario.ORIGEM }} </td>
                    <td>{{ beneficiario.TIPO }} </td>
                    <td>{{ beneficiario.QUANT }} </td>
            </tr>
            {% endfor %}
        </ul>
        </table>
        {% endif %}

    </div>
</div>
{% endblock %}