{% extends "core/base.html" %}
{% load static %}

{% block content %}

  {{script | safe}}
 {{script2 | safe}}
 {{script3 | safe}}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.3.min.js"></script>
<style type="text/css">
body, html{
  height: 100%;
}
.menu{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
 }
#div1{
    float: left;
    left:150px;
    widht:300px;
    height:300px;
    margin: 10px 10px 10px 10px;
}
#div2{
    widht:300px;
    height:300px;
    margin: 10px 10px 10px 10px;
}
</style>

<div class="content" style="background-color: #F0FFFF;">
    <div class="pure-g-r content-ribbon">

        <div class="card text-white bg-primary">
            <div class="card-header" style="font-size:20px; font-weight: bold;">Painel informativo do SASI</div>
        </div>
        {% if mensagem %}

        <h2 style="color:teal;font-weight: bold;">{{ mensagem }}</h2>

        {% endif %}
        <ul>

            <li><b>TOTAL DE REGISTROS DE SOLICITAÇÕES ANALISADAS: * {{ total_registros }} casos</b></li>
            <li><b>TOTAL DE BENEFICIÁRIOS CONTEMPLADOS EM 2021: * {{ total_ano }} Beneficiários</b></li>
            <li>Total de Beneficiários <span style="color:green;font-weight: bold;">ATIVOS</span>:<b> {{ total_ativos }}</b></li>
            <li>Total de Beneficiários <span style="color:teal;font-weight: bold;">EMERGENCIAIS</span>:<b> {% if total_emergenciais %} {{ total_emergenciais }} {% else %} 0 {% endif %}</b></li>
            <li>Total de Beneficiários <span style="color:orange;font-weight: bold;">FINALIZADOS</span>:<b> {{ total_finalizados }}</b></li>
            <li>Total de Beneficiários <span style="color:red;font-weight: bold;">INDEFERIDOS</span>:<b> {{ total_indeferidos }}</b></li>
            <li>Total de Beneficiários <span style="color:olive;font-weight: bold;">SUSPENSOS</span>:<b> {{ total_suspensos }}</b></li>
            <li>Total de Beneficiários <span style="color:silver;font-weight: bold;">AUSENTES</span>:<b> {% if total_ausentes %} {{ total_ausentes }} {% else %} 0 {% endif %}</b></li>

        <p><b>TOTAL DE CESTAS BÁSICAS ENTREGUES EM 2021: * {{ total_2021 }} Cestas</b></p>
            <li>Total de cestas entregues no mês passado:<b> {{ total_mes_anterior }}</b></li>
            <li>Total de cestas entregues este mês até o momento:<b> {{ total_esse_mes }}</b></li>
            <li>Total de cestas agendadas para entrega próximo mês:<b> {{ total_prox_mes }}</b></li>
        </ul>

    </div>


    <div class="row justify-content-center" style="padding:15px;">
        <div class="col-sm-6">
            <div class="card" align="center">
              <h5 class="card-header">Distribuição mensal de Cestas Básicas</h5>
              <div class="card-body">
                  {{div | safe}}
              </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
              <h5 class="card-header">Distribuição de cestas básicas por Unidade SUAS em 2021</h5>
              <div class="card-body">
                {{div2 | safe}}
              </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" >
        <div class="card" style="width:95%;">
          <h5 class="card-header">Distribuição mensal de Cestas Básicas</h5>
          <div class="card-body">
              {{div3 | safe}}
          </div>
        </div>
    </div>

    {% if beneficiarios_desatualizados  %}
        <h4> &nbsp;Listas dos {{ total_desatualizados }} cadastros desatualizados</h4>

        <div class="table-responsive" style="padding:15px;">

            <table class="table" style="background-color:#FFF;">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>STATUS</th>
                        <th>PROX_ENTREGA</th>
                        <th>NOME</th>
                        <th>CPF</th>
                        <th>NIS</th>
                        <th>BAIRRO</th>
                        <th>ORIGEM</th>
                        <th>À_RECEBER</th>
                    </tr>
                </thead>
                <tbody>
                {% for beneficiario in beneficiarios_desatualizados %}
                    <tr align="center">
                            <td scope="row">{{ beneficiario.N }} </td>
                            {% if beneficiario.STATUS == 'DEFERIDO' %}
                                    <td style="color:green;font-weight: bold;">
                                {% elif beneficiario.STATUS == 'FINALIZADO' %}
                                    <td style="color:orange;font-weight: bold;">
                                {% elif beneficiario.STATUS == 'EMERGENCIAL' %}
                                    <td style="color:teal;font-weight: bold;">
                                {% elif beneficiario.STATUS == 'SUSPENSO' %}
                                    <td style="color:olive;font-weight: bold;">
                                {% else %}
                                    <td style="color:red;font-weight: bold;">
                            {% endif %}
                                    {{ beneficiario.STATUS }}</td>
                            <td> {{ beneficiario.PROX_ENTREGA }}</td>
                            <td><a href="{% url 'beneficiarios:beneficiario_details' beneficiario.N %}"><i class="fa fa-eye"></i> {{ beneficiario.NOME }} </a></td>
                            <td style="font-size: 13px;"> {{ beneficiario.CPF }}</td>
                            <td> {{ beneficiario.NIS }}</td>
                            <td> {{ beneficiario.BAIRRO }} </td>
                            <td> {{ beneficiario.ORIGEM }} </td>
                            <td>{{ beneficiario.PROX_CESTA }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}
</div>
{% endblock %}