{% extends "core/base.html" %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<style type="text/css">
.img {
    float: left;
    width: 100%;
    padding: 0.2em 0.2em;

 }
</style>

<br>
    <div class="row justify-content-center">
        <div class="col-sm-2 sm-2" >
            <div class="col-md-12">
                <a href="{% url 'beneficiarios:busca_cestas' %}">
                    <img src="{% static 'img/b_basket.png' %}" class="img">
                <br><button class="pure-button pure-button-primary  img">Segurança Alimentar</button></a>
            </div>
        </div>
        <div class="col-sm-2 sm-2">
            <div class="col-md-12" align="center">
                <a href="{% url 'beneficiarios:emergencial' %}">
                    <img src="{% static 'img/emergencial.png' %}" class="img">
                <br><button class="pure-button pure-button-primary  img">Aux. Emergencial</button></a>
            </div>
        </div>
                <div class="col-sm-2 sm-2" align="center">
            <div class="col-md-12">
                <a href="#">
                    <img src="{% static 'img/PMCMV.png' %}" class="img">
                <br><button class="pure-button pure-button-primary  img">Habitação</button></a>
            </div>
        </div>
                <div class="col-sm-2 sm-2" align="center">
            <div class="col-md-12" align="center">
                <a href="{% url 'beneficiarios:relatorios' %}">
                    <img src="{% static 'img/b_dashboard.png' %}" class="img">
                <br><button class="pure-button pure-button-primary  img">Relatórios</button></a>
            </div>
        </div>
    </div>
<br>
<div class="row justify-content-center">
        <div class="col-sm-2 sm-2" align="center">
            <div class="col-md-12">
                <a href="#">
                    <img src="{% static 'img/bebe.png' %}" class="img">
                <br><button class="pure-button pure-button-primary  img">Aux. Natalidade</button></a>
            </div>
        </div>
        <div class="col-sm-2 sm-2" align="center">
            <div class="col-md-12">
                <a href="#">
                    <img src="{% static 'img/leite.png' %}" class="img">
                <br><button class="pure-button pure-button-primary img">Prog. Leite</button></a>
            </div>
        </div>
                <div class="col-sm-2 sm-2" align="center">
            <div class="col-md-12" align="center">
                <a href="#">
                    <img src="{% static 'img/caixao.png' %}"  class="img">
                <br><button class="pure-button pure-button-primary img">Aux. Urna</button></a>
            </div>
        </div>
                <div class="col-sm-2 sm-2" align="center">
            <div class="col-md-12">
                <a href="{% url 'beneficiarios:lista_cestas' %}">
                    <img src="{% static 'img/b_report.png' %}" class="img">
                <br><button class="pure-button pure-button-primary img">Listas</button></a>
            </div>
        </div>
    </div>
<br>
<div class="row justify-content-center">
        <div class="col-sm-2 sm-2" >
            <div class="col-md-12">
                <a href="{% url 'beneficiarios:promove_cursos' %}">
                    <img src="{% static 'img/promove.png' %}" class="img">
                <br><button class="pure-button pure-button-primary  img">Igarassu Promove</button></a>
            </div>
        </div>
        <div class="col-sm-2 sm-2" >
            <div class="col-md-12">
                <a href="{% url 'beneficiarios:registrar_cesta' %}">
                    <img src="{% static 'img/b_users.png' %}" class="img">
                <br><button class="pure-button pure-button-primary  img">Cadastrar Usuário</button></a>
            </div>
        </div>
        <div class="col-sm-2 sm-2" >
            <div class="col-md-12">
            </div>
        </div>
        <div class="col-sm-2 sm-2" >
            <div class="col-md-12">
            </div>
        </div>
     </div>
<br>
{% endblock %}