{% extends "core/base.html" %}
{% load static %}
{% block content %}

<style type="text/css">
body, html{
  height: 100%;
}

.menu{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
 }
#div1{
    float: left;
    left:150px;
    widht:300px;
    height:300px;
    margin: 10px 10px 10px 10px;
}
#div2{
    float: left;
    left:150px;
    widht:300px;
    height:300px;
    margin: 10px 10px 10px 10px;
}
#div3{
    float: left;
    left:150px;
    widht:300px;
    height:300px;
    margin: 10px 10px 10px 10px;
}
#div4{
    float: left;
    left:150px;
    widht:300px;
    height:300px;
    margin: 10px 10px 10px 10px;
}
#imagem1{
    float: left;
    height: 50%;
    }
#imagem2{
    float: left;
    height: 50%;
    }
#imagem3{
    float: right;
    height: 50%;
    }
#imagem4{
    float: right;
    height: 50%;
    }
</style>
<br><br><br><br><br><br>
    <div class="pure-g-r content-ribbon2" align="center">
        <div align="center" class="body menu">

                <div id="div1" align="center">
                    <a href="{% url 'usuarios:index' %}"><img src="{% static 'img/b_users.png' %}" id="imagem1">
                        <br><button class="pure-button pure-button-primary">Cadastrar Usuário</button></a>
                </div>

                <div id="div2" align="center">
                    <a href="{% url 'usuarios:busca_beneficiarios' %}"><img src="{% static 'img/b_basket.png' %}" id="imagem2">
                    <br><button class="pure-button pure-button-primary">Benefício Eventual</button></a>
                </div>

                <div id="div3" align="center">
                    <a href="#"><img src="{% static 'img/b_report.png' %}" id="imagem3" >
                    <br><button class="pure-button pure-button-primary">Listas</button></a>
                </div>

                <div id="div4" align="center">
                   <a href="#"> <img src="{% static 'img/b_dashboard.png' %}" id="imagem4" >
                    <br><button class="pure-button pure-button-primary">Relatórios</button></a>
                </div>
        </div>
    </div>

{% endblock %}